<html>
    <head>
        <title>Ruth's blog</title>
    </head>
    <body>
        <div>
            <h1><strong><a href="">Site no ar!</a></strong></h1>
            <h2><em>Em desenvolvimento...</em></h2>
        </div>
        <br />
        <div>
            <h1><strong>Lista de coisas a se fazer:</strong></h1>
            <ul><li>Terminar tutorial do Django Girls;</li><li>Embelezar site;</li><li>Aplicar programação no meu dia-a-dia!</li></ul>
        </div>
        <br />
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>